# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# intellij
.idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle
.gradletasknamecache
!gradle-wrapper.jar
gradle-app.setting

# other
gradlew *.bat
# personal shortcut bat files
eclipse
run
build